.shiki {
  padding: 1rem;
  height: 100%;
  border-radius: theme('borderRadius.md');
}

.separator {
  flex-shrink: 0;
  background-image: url('data:image/svg+xml,<svg width="5" height="14" viewBox="0 0 5 14" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="1" cy="1" r="1" fill="%2394a3b8"/><circle cx="1" cy="5" r="1" fill="%2394a3b8"/><circle cx="1" cy="9" r="1" fill="%2394a3b8"/><circle cx="1" cy="13" r="1" fill="%2394a3b8"/><circle cx="4" cy="1" r="1" fill="%2394a3b8"/><circle cx="4" cy="5" r="1" fill="%2394a3b8"/><circle cx="4" cy="9" r="1" fill="%2394a3b8"/><circle cx="4" cy="13" r="1" fill="%2394a3b8"/></svg>');
}

.split-panel {
  height: 100%;
  min-width: 140px;
  border-radius: theme('borderRadius.md');
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.folder {
  margin-bottom: 1rem;
}

.folder-header {
  background-color: theme('colors.zinc.100');
  border-radius: 0.25rem;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.25rem;
  position: relative;
  text-transform: capitalize;
}
body:where(.dark) .folder-header {
  background-color: theme('colors.zinc.900');
}

.folder-header::after {
  content: '\25BC'; /* Down arrow */
  display: inline-block;
  position: absolute;
  right: 0.75rem;
  font-size: 12px;
  transition: transform 0.3s;
  opacity: 0.8;
}

.folder.open > .folder-header::after {
  transform: rotate(-180deg);
}

.folder-items-container {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s;
}
.folder.open .folder-items-container {
  grid-template-rows: 1fr;
}

.folder-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  overflow: hidden;
}
.folder-items > li:last-child {
  /* stops active styles overflowing */
  margin-bottom: 1px;
}

.folder-item:focus {
  outline: 2px solid theme('colors.indigo.400');
  outline-offset: -2px;
}
.folder-item > button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: theme('colors.zinc.300');
}
body:where(.dark) .folder-item > button {
  background-color: theme('colors.zinc.700');
}
.folder-item > button:hover {
  z-index: 2;
  background-color: theme('colors.indigo.600');
}
.folder-item:has(.favourite:active) > button:active {
  transform: translateY(0);
}

.folder-item > button:focus,
.folder-item.selected > button {
  outline: none;
  background: theme('colors.indigo.700');
  border-color: transparent;
  color: theme('colors.zinc.100');
}
body:where(.dark) .folder-item > button:focus,
body:where(.dark) .folder-item.selected > button {
  color: inherit;
  background: theme('colors.indigo.700');
}
.folder-item > button:focus,
.folder-item > button:focus:hover,
.folder-item.selected > button:hover {
  border-color: theme('colors.indigo.500');
}

.folder-item:hover .favourite {
  opacity: 1;
}
.favourite {
  opacity: 0;
  padding: 0.25rem;
  margin: 2px;
  border-radius: theme('borderRadius.DEFAULT');
  border: none;
  background: transparent;
  color: theme('colors.yellow.300');
  @apply transition-all;
}
.favourite:hover {
  background: theme('colors.indigo.500');
}
.favourite:focus {
  outline: none;
  opacity: 1;
  color: theme('colors.yellow.300');
  background: theme('colors.indigo.500');
}
.favourite:active {
  transform: translateY(0) scale(1.1);
}

.favourite .star {
  width: 1.125rem;
  height: 1.125rem;
}
.favourite .star .fill {
  opacity: 0.2;
}
.favourite[data-checked='true'],
.favourite[data-checked='true'] .star .fill {
  opacity: 1;
}

button.copy {
  --vp-icon-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3C/svg%3E");
  --vp-icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3Cpath d='m9 14 2 2 4-4'/%3E%3C/svg%3E");

  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  z-index: 3;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  background-image: var(--vp-icon-copy);
  background-position: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  transition: border-color 0.25s, background-color 0.25s, opacity 0.25s;
  border: 1px solid theme('colors.zinc.300');
  background-color: theme('colors.zinc.100');
}
body:where(.dark) button.copy {
  border-color: theme('colors.zinc.700');
  background-color: theme('colors.zinc.900');
}

button.copied {
  background-image: var(--vp-icon-copied);
  opacity: 1;
}

button.copy::before {
  content: 'Copied!';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(100% + 0.5rem);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  opacity: 0;
  transition: opacity 0.25s;
  pointer-events: none;
  border: 1px solid theme('colors.zinc.300');
  background-color: theme('colors.zinc.100');
}
body:where(.dark) button.copy::before {
  border-color: theme('colors.zinc.700');
  background-color: theme('colors.zinc.900');
}

button.copied::before {
  opacity: 1;
}

#add-snippet {
  background-color: theme('colors.emerald.500');
  border-color: theme('colors.emerald.400');
  color: theme('colors.zinc.900');
  font-weight: bold;
  border-radius: theme('borderRadius.md');
  padding: theme('spacing[2]');
}
#add-snippet:hover {
  background-color: theme('colors.emerald.400');
}
body:where(.dark) #add-snippet:hover {
  background-color: theme('colors.emerald.600');
}
#add-snippet:focus {
  outline: 2px solid theme('colors.emerald.900');
  outline-offset: -4px;
}

dialog {
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  backdrop-filter: blur(10px);
  background: rgba(244, 244, 245, 0.3);
  color: theme('colors.zinc.700');
  /* max-width: 400px; */
  /* background-color: #fff; */
}
body:where(.dark) dialog {
  /* background: theme('colors.zinc.900'); */
  background: rgba(24, 24, 27, 0.2);
  color: theme('colors.zinc.100');
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition: display 0.7s allow-discrete, overlay 0.7s allow-discrete, background-color 0.7s;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 25%);
  backdrop-filter: blur(3px);
}

@starting-style {
  dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 0%);
  }
}

dialog h1 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 700;
}

dialog label {
  display: block;
  /* margin-bottom: 10px; */
  font-weight: bold;
}

dialog > label > * {
  margin-top: 0.25rem;
}

dialog input[type='text'],
dialog textarea {
  width: 100%;
  padding: 8px;
  background: theme('colors.zinc.200');
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  box-sizing: border-box;
}
body:where(.dark) dialog input[type='text'],
body:where(.dark) dialog textarea {
  background: theme('colors.zinc.800');
}

dialog textarea {
  resize: vertical;
  min-height: 80px;
}

dialog menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

dialog button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

dialog button[type='submit'] {
  background-color: theme('colors.emerald.600');
}
dialog button[type='submit']:hover {
  background-color: theme('colors.emerald.700');
}
dialog button[type='reset'] {
  background-color: theme('colors.zinc.600');
}
dialog button[type='reset']:hover {
  background-color: theme('colors.zinc.700');
}
dialog #delete-snippet-form button[type='submit'] {
  background-color: theme('colors.rose.600');
}
dialog #delete-snippet-form button[type='submit']:hover {
  background-color: theme('colors.rose.700');
}

.snippet-editor-empty {
  width: 100%;
  height: 100%;
  border-radius: theme('borderRadius.md');
  display: grid;
  place-content: center;
  font-size: 1.25rem;
  font-style: italic;
  color: theme('colors.zinc.600');

  @apply bg-gradient-to-b from-zinc-100;
}
body:where(.dark) .snippet-editor-empty {
  color: theme('colors.zinc.400');
  @apply bg-gradient-to-b from-zinc-800;
}

#snippet-editor pre {
  position: relative;
}
#snippet-editor pre::after,
#snippet-editor .metadata::after {
  border-color: black;
  opacity: 0.2;
}
body:where(.dark) #snippet-editor pre::after,
body:where(.dark) #snippet-editor .metadata::after {
  opacity: 0.8;
  border-color: white;
  mix-blend-mode: overlay;
}
#snippet-editor pre::after,
#snippet-editor .metadata::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-style: solid;
  z-index: 1;
}
#snippet-editor pre::after {
  border-width: 1px;
  border-radius: theme('borderRadius.md');
}
#snippet-editor .metadata::after {
  border-top-width: 1px;
}

#snippet-editor .metadata {
  position: absolute;
  bottom: 0;
  right: 1px;
  left: 1px;
  border-radius: 0 0 theme('borderRadius.md') theme('borderRadius.md');
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 1rem;
  font-style: italic;
  color: theme('colors.zinc.400');
  padding: 0.25rem 0.5rem;
}
