.page {
  flex-direction: row-reverse;
}

.page-column {
  position: relative;
  background: var(--sl-panel-bg);
}

.page-column.controls {
  max-width: 275px;
  background: #0a0910;
}

.tnl-controls-title {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.tnl-controls-title .app-field-label {
  font-size: var(--sl-label-font-size, 16px);
  color: var(--sl-label-font-color, #303030);
  font-weight: 600;
  padding: 20px 0;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  min-width: 130px;
  height: 30px;
  min-height: 30px;
  display: flex;
  align-items: center;
}

.special-menu-items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  align-items: end;
  justify-content: space-around;
}

.controls .tile-grid.three-columns {
  grid-template-columns: minmax(50px, max-content) max-content 0;
}

.controls .tile-grid.three-columns > :nth-child(3n) {
  opacity: 0;
}

.tnl-custom-message {
  padding: 4rem;
  white-space: pre-wrap;
  text-align: center;
}

.tnl-toggle-button {
  width: 32px;
  height: 32px;
  padding: 12px;
  margin-right: 8px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzg4ODg4OCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiPjxwYXRoIGQ9Ik0xOS41IDEySDgiLz48cGF0aCBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNOSA0SDdhMyAzIDAgMCAwLTMgM3YxMGEzIDMgMCAwIDAgMyAzaDJtNy00bDQtNGwtNC00Ii8+PC9nPjwvc3ZnPg==');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  transition: rotate 0.5s ease-in-out;
}

.tnl-toggle-button:hover {
  background-color: var(--sl-button-background);
}

.controls .tnl-toggle-button {
  transform: rotate(180deg);
}

.pointer {
  cursor: pointer;
}
