:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: underline;
  text-underline-offset: 2px;
}
a:hover {
  text-underline-offset: 3px;
}

body {
  --fg: 39 39 42;
  --bg: 212 212 216;
  --btn-fg: 235 188 186;
  --btn-bg: 25 23 36;

  margin: 0;
  display: flex;
  min-width: 320px;
  color: rgb(var(--fg));
  background-color: rgb(var(--bg));
}
body:where(.dark) {
  --fg: 224 222 244;
  --bg: 25 23 36;
}

body > * {
  @apply transition-colors duration-500;
}

#app {
  width: 100%;
  max-width: 1280px;
}

button {
  border: 1px solid rgb(var(--fg) / 0.2);
  background-color: rgb(var(--fg) / 0.2);
  border-radius: 0.25rem;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  user-select: none;
}

button:hover {
  border-color: rgb(var(--fg) / 0.3);
  background-color: rgb(var(--fg) / 0.3);
}

button:active {
  transform: translateY(1px);
}

button:focus,
button:focus-visible,
input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
  outline: 2px solid rgb(var(--btn-bg));
  outline-offset: 2px;
}

button.primary {
  background-color: rgb(var(--btn-bg));
  width: 100%;
  border: 1px solid rgb(var(--btn-fg) / 0.2);
  color: rgb(var(--btn-fg));
}

button.primary:hover,
body:where(.dark) button.primary:hover {
  background-color: rgb(var(--btn-bg) / 0.8);
  border-color: rgb(var(--btn-fg) / 0.3);
}

.label {
  font-weight: 600;
  margin-block-end: 0.25rem;
}

textarea {
  scrollbar-width: thin;
}

pre:focus {
  outline: none;
}
#snippet:focus-within {
  position: relative;
}
#snippet:has(pre:focus)::after {
  content: '';
  position: absolute;
  inset: 0;
  outline: 2px solid rgb(var(--btn-bg));
  outline-offset: 1px;
  border-radius: theme('borderRadius.md');
}
